@mixin pseudo($left, $right) {
  content: '';
  top: 6px;
  left: $left;
  right: $right;
  position: absolute;
  height: 2px;
  width: 110px;
  background-color: $orange;
  @include screen-lt(mobile) {
    width: 90px;
  }
}
.auth {
  &__or {
    position: relative;
    &:before {
      @include pseudo(0, auto);
    }
    &:after {
      @include pseudo(auto, 0);
    }
  }
  &__link {
    color: $brown;
    text-decoration: underline;
    font-size: 12px;
    margin-left: 5px;
  }
  &__button {
    margin-top: 20px;
    &_more {
      text-decoration: underline;
      color: $brown;
      background-color: transparent;
      text-transform: none;
      width: auto;
      border: none;
      &:hover {
        background-color: transparent;
        color: $white;
        transition: .1s;
      }
    }
  }
  &__error {
    color: #FF2120;
    font-size: 12px;
    padding-top: 10px;
  }
}

.tooltip {
  color: #ddd;
  font-size: 12px;
  margin-top: 5px;
  @include screen-lt(mobile-very-small) {
    font-size: 10px;
  }
}

.form__button {
  margin-top: 50px;
}