.field {
  @include base-margins();

  &__label {
    font-size: 16px !important;
    margin-bottom: 10px;
    @include main-font(600);
  }

  &__error {
    font-size: 12px;
    color: $orange !important;
    margin-top: 10px;
    @include main-font(600);
  }
}