.ux-textarea {
  height: 150px;
  width: 100%;
  resize: none;
  border: 1px dashed $orange;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 14px;
  @include main-font(500);
  color: $white;
  @include placeholder-color($brown, 0px);
  outline: 0;
  @include screen-lt(tablet) {
    font-size: 1.5vw;
  }
  @include screen-lt(mobile-very-small) {
    height: 32px;
  }
  @include screen-lt(mobile) {
    font-size: 2.5vw;
  }

  &_disabled {
    background-color: #040404;
  }
}

.hide_mob {
  @include screen-lt(mobile-very-small) {
    display: none;
  }
}

input[type="checkbox"] {
  width: 18px !important;
  height: 18px !important;
  margin: 0 5px 0 0;
  padding: 0;
}

.checkbox-label {
  color: $white;
  font-size: 12px;
  @include screen-lt(mobile-very-small) {
    font-size: 10px;
  }
  a {
    color: $orange;
    text-decoration: underline;
    font-size: 12px;
    @include screen-lt(mobile-very-small) {
      font-size: 10px;
    }
  }
}

.checkbox__area {
  align-items: flex-start;
}

.field__margin_top_x2 {
  @include screen-lt(mobile-very-small) {
    margin-top: 10px;
  }
}