.admin {
  background-color: #13023c;
  &__wrapper {
    min-height: 600px;
  }
  &__loading {
    min-height: 75vh;
  }

  p {
    color: white;
  }

  &__winner {
    font-size: 24px;
    &_header {
      font-size: 30px;
      color: $white;
      @include main-font(700);
      margin: 5px 0;
    }
  }

  &__container {
    @include container-size();
  }

  &__rejected {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    min-height: 70vh;
  }

  &__header {
    padding: 40px 0;
  }

  &__header-summary {
    flex: 1 1 auto;
    width: auto;
    color: white;
    font-size: 18px;
    font-weight: 500;

    p {
      margin-left: 15px;
    }
  }

  .ux-button {
    width: auto;
  }

  .text-story {
    margin: 5px;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid transparent;
    width: 100%;
    &-checked {
      border: 2px solid red;
    }
    p {
      margin: 3px 0;
    }
    span {
      background: #13023c;
      padding: 5px 15px;
      color: $white;
      border-radius: 5px;
    }
    * {
      color: black;
    }
  }
}