.header {
  background-color: #000000;
  color: $white;
  height: 80px;


  &__menu_item {
    @include main-font(700);
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
    color: $white;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $orange;
      transition: .2s all ease-in-out;
    }
    @include screen-lt(tablet) {
      font-size: 1.9vw;
    }
    @include screen-lt(tablet) {
      font-size: 2.4vw;
    }
  }

  &__container {
    z-index: 4;
    width: 100%;
    height: 100%;
    @include container-size();

  }

  &__logo {
    height: 40px;
    @include screen-lt(mobile) {
      height: 25px;
    }
    &_double {
      height: 100%;
      align-items: center !important;
      img {
        &:first-child {
          margin-right: 40px;
        }
      }
    }
    &_container {
      display: flex;
      align-items: center;
      .header__logo {
        @include screen-lt(mobile-small) {
          width: 100%;
        }
      }
    }
  }
}