.table {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 40px;
  @include screen-lt(mobile-small) {
    margin-top: 40px;
  }
  &__row {
    height: 40px;
    border-top: 1px solid rgba(255,255,255,0.2);
    &:last-child {
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    &:first-child {
      .table__number {
        background: linear-gradient(#050505, #FF5101) !important;
      }
    }
    &:nth-child(even) {
      .table__number {
        background: $orange;
      }
    }
  }
  &__number {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: $white;
    @include main-font(600);
    background: #C03F04;
    @include screen-lt(mobile-small) {
      font-size: 16px;
      width: 40px;
    }
  }

  &__name {
    font-size: 24px;
    color: $white;
    padding: 0 20px;
    @include screen-lt(mobile-small) {
      font-size: 16px;
      display: flex;
      align-items: center;
      padding: 0 10px;
    }
  }
}