.story {
  position: relative;
  min-height: 800px;
  margin-top: 40px;
  &__empty {
    font-size: 20px;
    color: $white;
  }
  &__container {
    @include container-size();
    z-index: 2;
    h2 {
      margin-top: 40px;
      margin-bottom: 40px;
      @include screen-lt(tablet) {
        font-size: 8vw;
      }
      @include screen-lt(mobile-small) {
        font-size: 8vw;
      }
    }
  }
  &__item {
    background-color: $white;
    border-radius: 5px;
    border-bottom: 17px solid $orange;
    padding: 20px;
    &:hover {
      transform: scale(1.04);
      transition: all 0.2s ease-in-out;
    }
    h2 {
      font-size: 16px;
      margin-top: 0;
      color: $black;
      @include main-font(700);
      margin-bottom: 3px;
      @include screen-lt(tablet) {
        font-size: 1.9vw;
      }
      @include screen-lt(mobile) {
        font-size: 2.5vw;
      }
      @include screen-lt(mobile-small) {
        font-size: 3.5vw;
      }
    }
  }
  &__attr {
    @include main-font(700);
    font-size: 16px;
    margin-bottom: 10px;
    color: $black;
    @include screen-lt(tablet) {
      font-size: 1.9vw;
    }
    @include screen-lt(mobile) {
      font-size: 2.5vw;
    }
    @include screen-lt(mobile-small) {
      font-size: 3.5vw;
    }
  }
  &__message {
    color: $black;
    @include main-font(400);
    font-size: 16px;
    @include screen-lt(tablet) {
      font-size: 1.9vw;
    }
    @include screen-lt(mobile) {
      font-size: 2.5vw;
    }
    @include screen-lt(mobile-small) {
      font-size: 3.5vw;
    }
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}