.products {
  position: relative;
  background-image: url('../../../../statics/image_bacground_header.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  background-position: center bottom;
  &__container {
    @include container-size();
    z-index: 2;
  }
  &__info {
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: auto;
    padding: 10px 30px;
    margin: 40px 0;
    p {
      color: $white;
      @include main-font(600);
      font-size: 16px;
    }
  }
}

.main__title {
  h2 {
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 94px;
    @include main-font(700);
  }
  span {
    color: $orange;
  }
}