.products {
  position: relative;
  margin-top: 80px;
  background-image: url('../../../../statics/product_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  &:after {
    content: '';
    background-image: url('../../../../statics/clouds.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    animation-timing-function: linear;
    animation-name: clouds;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    height: 375px;
    width: 4000px;
  }
  &__container {
    @include container-size();
    z-index: 2;
  }
  &__line {
    @include screen-lt(tablet) {
      display: none;
    }
  }
}


@keyframes clouds {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: .8;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: .5;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: .7;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: .5;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: -2000px;
    opacity: 0;
  }
}

.product {
  align-items: center;
  width: calc((100% - 30px)/3);
  @include screen-lt(tablet) {
    width: 80%;
  }
  @include screen-lt(mobile) {
    width: 100%;
  }
  &:last-child {
    margin-right: 0;
  }
  h2 {
    font-size: 36px;
    @include main-font(500);
    margin-bottom: 60px;
    @include screen-lt(tablet) {
      margin-bottom: 0;
    }
  }
  &__image {
    transition: .3s ease;
    cursor: pointer;
    @include screen-lt(mobile-small) {
      width: 100%;
    }
    &:hover {
      transform: scale(1.2);
    }
    &_container {
      min-height: 235px;
      max-height: 235px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 40px;
      @include screen-lt(mobile-small) {
        margin-bottom: 10px;
        align-items: center;
        &:hover {
          transform: none;
        }
      }
    }
  }
  &__item {
    padding: 30px;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    @include screen-lt(mobile) {
      padding: 15px;
      margin-bottom: 20px;
    }
    p {
      color: $white;
      font-size: 18px;
    }
    &_name {
      color: #585858 !important;
    }
    img {
      width: 100%;
    }
  }
}

.slick-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__line_mobile {
  display: none;
  @include screen-lt(tablet) {
    display: block;
    padding-bottom: 40px;
  }
  @include screen-lt(mobile) {
    padding-bottom: 40px;
  }
}

/* Slider */
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list
{
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
  opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  opacity: .75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
  left: 0;
}
[dir='rtl'] .slick-prev
{
  right: -25px;
  left: auto;
}
.slick-prev:before
{
  content: '←';
}
[dir='rtl'] .slick-prev:before
{
  content: '→';
}

.slick-next
{
  right: 0;
}
[dir='rtl'] .slick-next
{
  right: auto;
  left: -25px;
}
.slick-next:before
{
  content: '→';
}
[dir='rtl'] .slick-next:before
{
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  position: absolute;
  bottom: 0;
  @include screen-lt(mobile) {
    bottom: -25px;
  }

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 24px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;

  text-align: center;
  border: 1px solid #FF5000;
  border-radius: 50%;
  content: '';


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  opacity: .75;
  background-color: #FF5000;
  border: 1px solid transparent;
  color: #FF5000;
}
