.form {
  position: relative;
  margin-top: 60px;
  &:after {
    content: '';
    position: absolute;
    top: 100px;
    left: 0;
    background: url('../../../../statics/drakon.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 470px;
    width: 770px;
    @include screen-lt(desktop-big) {
      width: 600px;
      height: 370px;
      top: 130px;
    }
    @include screen-lt(desktop) {
      width: 550px;
      height: 320px;
      top: 130px;
    }
    @include screen-lt(tablet) {
      width: 470px;
      height: 240px;
      top: 220px;
    }
    @include screen-lt(mobile) {
      position: static;
      display: none;
    }
  }
  &__container {
    justify-content: space-between;
    @include container-size();
    z-index: 2;
    p {
      font-size: 22px;
      color: $white;
      @include main-font(300);
      @include screen-lt(tablet) {
        font-size: 2.5vw;
      }
      @include screen-lt(mobile) {
        font-size: 4.5vw;
      }
      span {
        text-transform: uppercase;
        @include main-font(600);
      }
    }
    @include screen-lt(mobile) {
      flex-direction: column;
    }
  }
  &__image {
    position: relative;
  }
  &__column {
    width: 45%;
    @include screen-lt(mobile) {
      width: 100%;
      &:last-child {
        margin-top: 40px;
      }
    }
  }
}