.home {
  position: relative;
  background-image: url('../../statics/image_bacground_futer.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.ReactModal__Content {
  @include screen-lt(mobile) {
    width: 85% !important;
    padding: 20px !important;
  }
  @include screen-lt(mobile-small) {
    width: 80% !important;
    padding: 20px !important;
  }
  @include screen-lt(mobile-very-small) {
    padding: 10px 20px !important;
  }
}

